<script>
  var NTCD = NTCD || {};
  if (!NTCD.simple) NTCD.simple = {
    lang: { expired: '{{ simple_text_expired }}' },
    insts: {},
  };
  NTCD.simple.insts['{{ inst }}'] = {{ clock|json_encode }};
</script>
<div class="ntcd-simple ntcd-simple__invisible" data-inst="{{ inst }}">
  <div class="ntcd-simple--text">{{ simple_text }}</div>
  <div class="ntcd-simple--counter"><span class="ntcd-simple--days" title="{{ simple_day_title }}"></span>{{ simple_day_abbr }}&nbsp;<span class="ntcd-simple--hours" title="{{ simple_hour_title }}"></span>:<span class="ntcd-simple--mins" title="{{ simple_min_title }}"></span>:<span class="ntcd-simple--secs" title="{{ simple_sec_title }}"></span></div>
</div>